{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    <hr style="border:0.5px solid grey">
    {% for listing in all_listings %}
<!--        All listings -->
        <a href="{% url 'focus' listing.id %}"><b><h2>{{listing.title.capitalize}}</h2></b></a>
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-6" style="background-color:#4FBDBA"><img src="{{listing.img_url}}" style="width=300px;height:300px"></div>
            <div class="col-sm-6" style="background-color:#AEFEFF;">
                <b><p>{{listing.description}}</p></b>
                <p>{{listing.category}}</p>
                <h4><p>Rs. {{listing.price}}</p></h4>
                <p style="color:grey">{{listing.date}}</p>

            </div>
          </div>
        </div>
        <hr style="border:0.5px solid grey">
    {% endfor %}

{% endblock %}