{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Watchlist</h2>
    <hr style="border:0.5px solid grey">

<!--    {{watchlist_listings_id}}-->
<!--    {% for new in watchlist_listings %}-->
<!--        {{watchlist_listings.prod_id}}-->

<!--    {% endfor %}-->


<hr>
<!--{% for item in items %}-->
<!--      <h4>{{item.user}}</h4>-->
<!--      <h4>{{item.prod_id}}</h4>-->
<!--{% endfor %}-->
{% for display in displays %}
<!--    {{display}}-->
    {%for item in display%}
        <h4>{{item.title.capitalize}}</h4>
        <p><img src="{{item.img_url}}" style="width=300px;height:300px"></p>
        <h5>Details:</h5>
        <h6>{{item.description}}</h6>
        <b><p>Rs. {{item.price}}</p></b>
        <p>{{item.date}}</p>
        <hr style="border:1px solid black">
    {%endfor%}
{% endfor %}



{% endblock %}